.alarm-graph-container .custom-dropdown .ant-select-item-option-content {
    color: #ffffff; /* Set text color to white */
  }

  .alarm-graph-container{
    height: calc(59%);
  }
  
  .alarm-graph-container .custom-dropdown .ant-select-item-option-selected {
    background-color: #000000 !important; /* Set selected item background color to black */
  }

  .alarm-graph-container .ant-card-body{
    border-radius: 0px !important;
  }
  
  .custom-dropdown .ant-select-item-option-active {
    background-color: #000000 !important; /* Set active item background color to black */
  }
  
  .alarm-graph-container .custom-dropdown .ant-select-item-option {
    background-color: #000000; /* Set dropdown background color to black */
    color: #ffffff; /* Set dropdown text color to white */
  }
  
  .custom-dropdown .ant-select-item-option:hover {
    background-color: #000000 !important; /* Remove hover effect */
  }

 

  .alarm-graph-container .ant-select-selector {
    background-color: #000000 !important; /* Set selector background color to black */
    color: #ffffff !important; /* Set selector text color to white */
    border: none !important; /* Set border to 1px white */
  }
 
  
  .alarm-graph-container .ant-select-item-option-selected .ant-select-item-option-state {
    color: #ffffff !important; /* Set tick symbol color to white */
  }

  .alarm-graph-container .no-cursor .ant-select-item-option {
    cursor: default !important;
  }

  /* src/components/realTimeAlarm/alarmDetails.css */

.alarm-graph-container {
  background-color: rgba(82, 185, 185, 0.30); /* Set your desired background color */
  color: #ffffff; /* Ensure text color is readable */
  padding: 20px; /* Add padding if needed */
  position: relative;
}

.alarm-graph-container .ant-select-selector{
  background: transparent !important;
  border-radius: 4px !important;
}

.alarm-graph-container .ant-select-item-option-state{
  background: #0A8120 !important;
}
 
.alarm-graph-container .ant-select-item-option-state .anticon{
  color: #ffffff !important;
}

.alarmGraphDropdown .ant-select-item-option-content{
  margin-left: 1.5rem !important;
  font-size: 12px;
}
 
.alarmGraphDropdown .ant-select-item-option-state {
  background: #0A8120 !important;
  position: absolute !important;
  left: 0.5rem;
    width: 1rem;
    top: 0.5rem;
    height: 1rem;
}

.alarmGraphDropdown .ant-select-item-option-state .anticon {
  color: #ffffff !important;
  width: 10px;
  height: 10px;
}
.alarmGraphDropdown{
  padding: 0px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    background: transparent;
    min-width:  200px!important;
}
.alarmGraphDropdownDateRange{
  padding: 0px;
  border: none;
  border-radius: 0px;
  cursor: pointer;

  background: transparent;
}


.custom-dropdown {
  cursor: pointer;
  border: 0.5px solid #ffffff;
  padding: 0px 5px;
  border-radius: 4px;
}

.ant-select-selection-item-content{
  margin-top: 0px;
}
.ant-select-selector{
  padding: 0px;
}

.dropdownContainer{
  position: relative;
  right: 2.75rem;
  display: flex;
}
.dropdownContainer span{
  font-size: 12px;
}
.dropdown-label {
  font-size: 10px;
  color: #fff;
  margin-top: 2px;
}

.dropdown-select{
  width: 100%;
  color: #fff;
  height: 0px;
  background-color: transparent !important;
}

.dropdown-select .ant-select-selector{
  left: -10px !important;
}

/* Ensure the dropdown background and text color are set */
.alarm-graph-container .ant-select-dropdown {
  background-color: #000000; /* Set dropdown background color to black */
  color: #ffffff; /* Set dropdown text color to white */
}

/* Style the checkboxes */
.alarm-graph-container .ant-select-item-option {
  display: flex !important;
  align-items: center !important;
  padding: 8px 16px !important;
}

.alarm-graph-container .ant-select-item-option .ant-checkbox-wrapper {
  display: flex;
  align-items: center;
  color: #ffffff; /* Set checkbox text color to white */
}

.alarm-graph-container .ant-select-item-option .ant-checkbox-inner {
  background-color: #ffffff !important; /* Set checkbox background color to white */
  border-color: #ffffff !important; /* Set checkbox border color to white */
}

.alarm-graph-container .ant-select-item-option .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000000; /* Set checked checkbox background color to black */
  border-color: #ffffff; /* Set checked checkbox border color to white */
}

.alarm-graph-container .ant-select-item-option .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #ffffff  !important; /* Set checked checkbox tick color to white */
}
.alarm-graph-container .ant-select-selection-wrap::after{
  content: "" !important;
  display: inline-block;
  width: 1.2rem !important; /* Adjust the width as needed */
  height: 0.8rem !important; /* Adjust the height as needed */
  background-image: url('../../../images/icons/dropdown-icon.svg') !important; /* Path to your image */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.dateRange{
  margin-right: 1.5rem;
}
.ant-select{
  cursor: pointer;
}

.ant-spin-spinning{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.multiSelect .ant-select-selection-wrap{
  position: relative;
  bottom: 2px;
}

.dateRange .ant-select-selection-wrap::after{
  right: -0.8rem !important;
    top: 25%;
} 
.multiSelect .ant-select-selection-wrap::after{
  top: 12%;
  right: -1.4rem !important;

}
.alarmGraphDropdown .ant-select-item-option-content::before{
  content: "" !important;
  display: inline-block;
  width: 1rem !important; /* Adjust the width as needed */
  height: 1rem !important; /* Adjust the height as needed */
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
 
.alarm-graph-container .anticon-arrows-alt{
  font-size: 1.5rem;
}
.alarm-details-title-container{
  display: flex;
  justify-content: space-between;
}
/* Make the dropdown arrow visible in white color */
.alarm-graph-container .ant-select-arrow {
  color: #ffffff !important;
}
.alarm-graph-container .ant-select-focused .ant-select-selection-placeholder {
  color: #ffffff !important;
}

 

.alarm-graph-container .recharts-legend-wrapper{
  bottom:2.5rem !important;
}

/* Custom legend styling */
.custom-legend {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  justify-content: center;
  text-transform: capitalize;
}

.custom-legend li {
  display: flex;
  align-items: center;
}

.custom-legend .legend-line {
  width: 20px !important;
  height: 2px !important;
  margin-right: 8px;
}

.alarm-graph-container .ant-select-item.ant-select-item-option {
  border: none !important;
}
 
.dropdown-container .ant-select-selection-item{
  color: #ffffff !important;
  cursor: pointer;
}
.dropdown-container input{
  caret-color: transparent;
}

.dropdown-container{
  border: 0.5px solid #ffffff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 1rem;
}
 
.dropdown-container .ant-select-arrow {
  color: #ffffff !important; /* Set the dropdown arrow color to white */
}

.dropdown-container .ant-select-selection-item {
  color: #ffffff !important; /* Ensure the selected item text is also white */
}

.dropdown-container .ant-select-selection-placeholder {
  color: #ffffff !important; /* Ensure the placeholder text is also white */
}
.dropdown-container .ant-select-selection-item-content{
  cursor: pointer;
  font-size: 13px !important;
}
.dropdown-container .ant-select-selector{
  height: 2rem !important;
}

.dropdown-container label{
  color: #ffffff;
  font-size: 10px;
  position: absolute;
  margin: 1px 0px 1px 11px;
}
.dropdowns-parent{
  margin-right: 3rem;
  height: 2rem !important;
}

.dropdown-container .ant-select-selection-item{
  margin-top: 12px !important;
}
.alarm-graph-container{
  background-color: rgba(82, 185, 185, 0.30);
    color: #ffffff;
    padding: 10px 20px;
    margin: 0 auto;
    position: relative;
  z-index: 1;
}

.alarm-graph-container .recharts-legend-wrapper ul{
  justify-content: center;
  margin-bottom: -3rem;
}

/* expandedChart.css */
.custom-modal-body .ant-modal-content {
  padding: 0px;
  border-radius: 0px;
  background-color: #000000; /* Set the background color to black */
}

.custom-modal-body .ant-modal-header {
  background-color: rgba(82, 185, 185, 0.30); ; /* Optional: Set the header background color to black */
  border-bottom: none; /* Optional: Remove the border */
}

.custom-modal-body .ant-modal-body {
  background-color: rgba(82, 185, 185, 0.30); /* Set the modal body background color to black */
  color: white; /* Optional: Set text color to white for better contrast */
}

.custom-modal-body .recharts-legend-wrapper{
  bottom: -20px !important;
}

.custom-modal-body .ant-modal-close,.custom-modal-body .ant-modal-close:hover{
  color: white; /* Set the close button color to white */
}

.custom-modal-body .recharts-legend-wrapper ul{
  justify-content: center;
  margin-bottom: -3rem;
}



.custom-tooltip {
  background: black;
  padding: 10px;
  color: white;
  position: relative;
  font-size: 12px;
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid black;
  position: absolute;
  bottom: -15px;
  left: 15%;
  transform: translateX(-50%);
}

