.noofCountry{
    /* background-image: url(/src/images/resources.svg); */
    position: absolute;
    background-repeat: no-repeat;
   
    background-size: contain;
    width: 197px;
    height: 45px;
    border: 1px solid black;
    top: 0px;
    right: -6px;

}
.header-container {
    display: flex;
        justify-content: space-between;
        position: relative;
padding-left: 10px;
padding-right:10px;       
       top: -2px;
       gap: 7px;
       left: -25px;
       height: 12vh;
       width:84vw;
      

  }
   
  /* Common styles for all widgets */
  .widget {
    width: 250px;
    height: 120px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    border: 1px solid #d1d1d1; /* Light gray border */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 10px;
  }
   
  /* Unique colors for each widget */
  /* .widget-country {
    border-top: 4px solid #FF6DFF;
    height: 86px;
    border-bottom: 4px solid #FF6DFF;
    background-color: #1c1b1c;
  } */
   

  .widget-country{
   
    position: relative;
    background: #161625; 
    padding: 4px 20px;
    display: flex;
    height: 65px;
    top:10px;
    right:-26px;
    align-items: center;
    border:0px;
    /* color: white; */
    width: 250px;
    border-radius: 0; 
    border-top: 3.4px solid transparent;
    border-bottom: 3.4px solid transparent;
  }
  .widget-country::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    top: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}
  
/* box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2), 
                0px 0px 24px rgba(255, 0, 255, 0.4);
}
 
.widget-country:hover::before,
.widget-country:hover::after {
    filter: drop-shadow(0 0 12px rgba(0, 119, 255, 0.6)); 
}
 
.widget-country:hover {
    box-shadow: 0 0 25px rgba(0, 119, 255, 0.5); 
} */
 
.widget-country::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}



  
  .widget-building {
    position: relative;
    background: #161625; 
    padding: 4px 20px;
    display: flex;
    height: 65px;
    top:10px;
    right:-26px;
    align-items: center;
    border:0px;
    /* color: white; */
    width: 250px;
    border-radius: 0; 
    border-top: 3.4px solid transparent;
    border-bottom: 3.4px solid transparent;
  }
  .widget-building::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    top: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}

/* box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2), 
                0px 0px 24px rgba(255, 0, 255, 0.4);
}
 
.widget-building:hover::before,
.widget-building:hover::after {
    filter: drop-shadow(0 0 12px rgba(0, 119, 255, 0.6)); 
}
 
.widget-building:hover {
    box-shadow: 0 0 25px rgba(0, 119, 255, 0.5); 
} */
 
.widget-building::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}





   
  .widget-area {
    position: relative;
    background: #161625; 
    padding: 4px 20px;
    display: flex;
    height: 65px;
    top:10px;
    right:-26px;
    align-items: center;
    border:0px;
    /* color: white; */
    width: 250px;
    border-radius: 0; 
    border-top: 3.4px solid transparent;
    border-bottom: 3.4px solid transparent;
  }
  .widget-area::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    top: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}

/* box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2), 
                0px 0px 24px rgba(255, 0, 255, 0.4);
}
 
.widget-area:hover::before,
.widget-area:hover::after {
    filter: drop-shadow(0 0 12px rgba(0, 119, 255, 0.6)); 
}
 
.widget-area:hover {
    box-shadow: 0 0 25px rgba(0, 119, 255, 0.5); 
} */
 
.widget-area::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}





   
  .widget-employee {
   
    position: relative;
    background: #161625; 
    padding: 4px 20px;
    display: flex;
    height: 65px;
    top:10px;
    right:-26px;
    align-items: center;
    border:0px;
    /* color: white; */
    width: 250px;
    border-radius: 0; 
    border-top: 3.4px solid transparent;
    border-bottom: 3.4px solid transparent;
  }

  .widget-employee::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    top: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}

/* box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2), 
                0px 0px 24px rgba(255, 0, 255, 0.4);
}
 
.widget-employee:hover::before,
.widget-employee:hover::after {
    filter: drop-shadow(0 0 12px rgba(0, 119, 255, 0.6)); 
}
 
.widget-employee:hover {
    box-shadow: 0 0 25px rgba(0, 119, 255, 0.5); 
} */
 
.widget-employee::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 5px;
    bottom: -4x;
    background: linear-gradient(to right,
    rgba(12, 15, 15, 0.1) 1%, 
    rgba(0, 255, 255, 0.3) 10%, 
    rgba(0, 255, 255, 0.4) 15%, 
    rgba(42, 124, 57, 0.9) 38%, 
    rgba(42, 124, 57, 0.9) 50%, /* Green Color at the middle */
    rgba(13, 238, 81, 0.358) 70%, 
    rgba(0, 255, 255, 0.3)  83%, 
    rgba(94, 54, 207, 0.4) 88%, 
    rgba(77, 86, 184, 0.3) 90%, 
    rgba(56, 124, 155, 0.2) 95%, 
    rgba(14, 14, 16, 0.09) 100%);
}



   
  /* Styling for the widget content */
  .widget-card {
    color: black;
    text-align: center;
  }
   
  .widget-icon {
    width: 87px;
    /* right: 47px; */
    height: 58px;
    position: relative;
    left: -59px;
    top: 23px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: -21px;
}
  
   
  .widget-value {
    font-size: 26px;
    font-weight: bold;
    position: relative;
    top: -14px;
    right: -32px;
    color: white;
  }
   
  
   
  .widget-label {
    font-size: 16px;
    color:white;
    position: relative;
    top: -22px;
    left: 37px;
  }
  